/server/node_modules
node_modules/
/frontend/node_modules/
.env

./coursebundler

coursebundler

node-express-course

node-express-course/*
./node-express-course
/node-express-course


/coursebundler
node-express-course/

coursebundler/