@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');

.App{
    min-height: 100vh;
    display: flex;

    background-image: url("./background.png");
    background-size: cover;
    background-position: center;
    color: black;
}


::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*{
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.messages::-webkit-scrollbar {
    overflow-y: scroll;
    display: auto;
    width: 10px;
 
}

/* Track */
.messages::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.messages::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.messages::-webkit-scrollbar-thumb:hover {
    background: #555;
}